#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	@echo "Binary should be built externally via Makefile"
	@mkdir -p tmp
	@if [ -f ../weed-4.12-4-g7c610143f-linux-amd64 ]; then \
		cp ../weed-4.12-4-g7c610143f-linux-amd64 tmp/weed; \
	fi

override_dh_auto_clean:
	@echo "Skipping clean - binary is pre-built"

override_dh_auto_test:
	@echo "Skipping test - binary is pre-built"

override_dh_auto_install:
	@echo "Installing files manually"
	@mkdir -p debian/seaweedfs/usr/bin/
	@if [ -f ../seaweedfs/weed-4.12-4-g7c610143f-dirty-linux-amd64 ]; then \
		cp ../seaweedfs/weed-4.12-4-g7c610143f-dirty-linux-amd64 debian/seaweedfs/usr/bin/seaweedfs-weed; \
		chmod 755 debian/seaweedfs/usr/bin/seaweedfs-weed; \
		ln -sf seaweedfs-weed debian/seaweedfs/usr/bin/weed; \
		echo "Binary installed successfully"; \
	else \
		echo "WARNING: Binary not found at ../seaweedfs/weed-4.12-4-g7c610143f-dirty-linux-amd64"; \
	fi
	install -d debian/seaweedfs/usr/lib/systemd/system/
	install -m 644 debian/weed-master@.service debian/seaweedfs/usr/lib/systemd/system/
	install -m 644 debian/weed-volume@.service debian/seaweedfs/usr/lib/systemd/system/
	install -m 644 debian/weed-filer@.service debian/seaweedfs/usr/lib/systemd/system/
	install -m 644 debian/weed-s3@.service debian/seaweedfs/usr/lib/systemd/system/
	install -d debian/seaweedfs/etc/default/weed/
	install -m 644 debian/weed.conf debian/seaweedfs/etc/default/weed/
	install -d debian/seaweedfs/etc/weed/
	install -d debian/seaweedfs/etc/logrotate.d/
	install -m 644 debian/logrotate.d/weed debian/seaweedfs/etc/logrotate.d/
	install -d debian/seaweedfs/etc/haproxy/conf.d/
	install -m 644 debian/haproxy-weed-s3.cfg debian/seaweedfs/etc/haproxy/conf.d/weed-s3.cfg
	install -d debian/seaweedfs/opt/weed/
	install -m 755 debian/healthcheck.sh debian/seaweedfs/opt/weed/
	install -d debian/seaweedfs/etc/weed/examples/
	install -m 644 debian/examples/*.toml debian/seaweedfs/etc/weed/examples/
	install -d debian/seaweedfs/DEBIAN
	install -m 755 debian/postinst debian/seaweedfs/DEBIAN/postinst
	install -m 755 debian/postrm debian/seaweedfs/DEBIAN/postrm
	install -m 755 debian/preinst debian/seaweedfs/DEBIAN/preinst
